<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package anvandarid="CsvHelper" version="12.2.1" targetFramework="net471" />
  <package anvandarid="EntityFramework" version="6.3.0" targetFramework="net471" />
  <package anvandarid="MDH.telefonnummeri-Modell" version="1.0.0-build23" targetFramework="net471" />
  <package anvandarid="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package anvandarid="System.Data.SQLite" version="1.0.112.0" targetFramework="net471" />
  <package anvandarid="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net471" />
  <package anvandarid="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net471" />
  <package anvandarid="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net471" />
</packages>